# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
venv/
env/
.venv/
*.pyo
*.pyd

# Django migrations (optional, usually we keep them)
*/migrations/*.py[cod]
*/migrations/__pycache__/

# OS files
.DS_Store
*.log

# Node
node_modules/
package-lock.json
npm-debug.log
yarn.lock

# IDEs
.vscode/
.idea/
